/* header.css */
header {
    padding: 12px 0 30px;
    position: absolute;
    z-index: 11;
    width: 100%;
    display: block;
    padding-left: 80px !important;
    padding-right: 80px !important;
    background: transparent;
  }
  
  .navbar {
    padding: 0;
  }
  
  .navbar-brand img {
    width: 140px;
  }
  
  .navbar-nav {
    margin: 15px 0 0;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar-nav .nav-item {
    margin-left: 40px;
    list-style: none;
  }
  
  .navbar-nav .nav-link {
    padding: 9px 25px;
    color: #e8ecf2;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 0 40px;
  }
  a.btn.btn.btn-primary {
    margin: 0 0 0 40px;
}
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #3d76c7 !important;
  }
  
  /* Login/Register Button */
  .navbar-nav .btn {
    font-weight: 700;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    padding: 9px 25px !important;
    border: 2px solid #3d76c7;
    /* background-color: #3d76c7; */
    background: linear-gradient(90deg, #2f4fbb 0%, #3ba2c1 100%);
    color: white;
    transition: 0.3s ease;
  }
  
  .navbar-nav .btn:hover {
    background-color: white;
    color: #3d76c7;
  }
  .nav-link.active {
    color: #3d76c7  !important;
    font-weight: 600;
  }
  body {
      background-image: url(https://www.vtolup.com/images/BG-innerPage.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      font-family: "vinila", sans-serif;
      background-attachment: fixed;
  }
  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #fff;
}
.custom-toggler-icon {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.custom-toggler-icon::before,
.custom-toggler-icon::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.custom-toggler-icon::before {
  top: -8px;
}

.custom-toggler-icon::after {
  top: 8px;
}

.container {
  max-width: 1430px;
}
a.btn.btn.btn-primary:hover {
  color: #fff;
}

@media (max-width: 1199px) {
header {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.navbar-nav .nav-link {
  padding: 9px 25px;
  color: #e8ecf2;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 0 30px;
}
a.btn.btn.btn-primary {
  margin: 0 0 0 30px;
}
.navbar-nav .btn {
  font-weight: 700;
  font-size: 14px;
}
}

  @media (max-width: 991.98px) {
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      padding-bottom: 20px;
    }
  
    .navbar-nav .nav-item {
      margin-left: 0;
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      margin-left: 0;
      padding: 10px 15px;
      width: 100%;
    }
  
    a.btn.btn.btn-primary {
      margin-left: 0;
      margin-top: 10px;
      width: auto;
      text-align: center;
      margin: 0 auto;
  }
    div#navbarCollapse {
      z-index: 999;
      position: absolute;
      top: 60px;
      background: #1f252e;
      width: 100%;
  }
  header {
    padding: 12px 0 30px;
    position: absolute;
    z-index: 11;
    width: 100%;
    display: block;
    padding-left: 20px !important;
    padding-right: 20px !important;

  }
  .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px 15px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    
}
button.navbar-toggler.collapsed h3.bnner_text {
  z-index: 1;
}
}
  

@media (max-width: 479.98px) {
.navbar-nav .btn {
  font-size: 13px;
}
.navbar-nav .nav-link {
  font-size: 13px;
}
}