@media (max-width: 991px) {
    .mob_full.col-6 {
        width: 100% !important;
    }
}
@media (max-width: 767px) {
    .stepItem .stepLabel {
       display: none;
    }
    .formBox {
        padding: 0px !important;
    }
    .formBox.login_formBox {
        padding: 15% 15px 15px !important;
    }
}
@media (max-width: 480px) {
    .hTabs .btn {
        font-size: 12px;
        padding: 8px 8px !important;
    }
    .teXt h2 {
        color: #fff;
        font-size: 25px !important;
        font-weight: 500;
    }
    .counterBlk h5.d-flex.align-items-center.mb-0 {
        font-size: 12px !important;
    }
    form .form-control, form select.form-control {
        font-size: 13px  !important;
    }
    form .btn {
        min-width: 100px !important;
    }
    .formBox.home_formBox {
        padding: 30px 0px;
    }
    .formBox form {
        padding: 0px 10px 30px 10px !important;
    }
    .container.small h3 {
        font-weight: 700;
        text-align: center;
        font-size: 19px;
    }
    .small.container {
        padding-bottom: 60px;
    }
    .appStore.d-flex.align-items-center.gap-3 {
        justify-content: center !important;
    }
    .VTOLuP_App .teXt * {
        margin: 12px 0 20px;
        opacity: 0.8;
        color: #0a0b0e;
        text-align: center;
    }
    .teXt h2 {
        color: #fff;
        font-size: 22px !important;
        font-weight: 500;
    }
    footer .quickLinks {
        padding: 0;
        margin: 0 0 20px;
        list-style: none;
        gap: 15px;
        flex-wrap: wrap;
    }
    footer .quickLinks li a {
        font-size: 14px;
    }
    footer h6 {
        font-size: 12px;
    }
    .register-links p {
        font-size: 14px;
    }
    .privacyPolicy p, .privacyPolicy li {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 1rem;
        font-weight: 400;
    }
}
